{#
/**
 * @file
 * Default theme implementation for a 'cdek_widget' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - processed: Indicates that the widget is a form element.
 * - widget_id: Unique id for every widget being printed.
 * - children: The rendered sub-elements.
 *
 * @see template_preprocess_cdek_widget()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'cdek-widget',
    processed ? 'form-cdek-widget',
    widget_id ? 'js-cdek-widget-' ~ widget_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ children }}
</div>
