{#
/**
 * @file
 * Default theme implementation for a 'cdek_select' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered sub-elements.
 *
 * @see template_preprocess_cdek_select()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('form-cdek-select') }}>
  {{ children }}
</div>
